// 頁面(瀏覽器)與物件間的間距:外間距左右為0,上下自動;內間距為上下左右自動:設定為「*」(總管)
* {
  //外間距margin,物件寬度小於100%，物件自動會垂直置中
  margin: 0 auto;
  //內間距padding
  padding: 0;
}
body,
html {
  // 寬度
  width: 100%;
  // 最大寬度
  max-width: 100vw;
  // 高度
  height: 100%;
}
img {
  // 圖片設定
  width: 100%;
  height: auto;
}
// 寬度設定
$w10: 10%;
$w: 10vw;

// 繼承區:將scss的繼承功能，寫在共用黨內，因般排有誤，故造成編譯時出錯
/* 
You may not @extend an outer selector from within @media.
 You may only @extend selectors within the same directive.
 無法在內部選擇器使用外部連結
*/
%DN {
  display: none;
}
// 撰寫 scss的混合函式minxin，修正scss無法被@media使勇的問題
// 隱藏物件
@mixin DN {
  display: none;
}
// 開啟隱藏物件
@mixin OB {
  display: block;
}
// 清除左右浮動
@mixin Clear {
  clear: both;
}
// 計算區:計算header李 Logo 與 MenuBtn 之間的寬度
@mixin LBW($WM, $WA) {
  // 計算區: 1.設變數(承載值的物件名稱) $WM = 倍數 $WA=加的總數
  $LogoW: $w10 * $WM + $WA;
  //MenuBtn寬度 = 父框架的總高度 - Logo寬度
  $MBW: $w10 * 10 - $LogoW;

  // 連動 計算寬度 Logo 與 MenuBtn
  // 呼叫 id 或 class標籤
  #Logo {
    width: $LogoW;
  }
  #MenuBtn {
    width: $MBW;
  }
}
// 隱藏項目符號
@mixin Dlist {
  list-style-type: none;
}
/* 文字使吋 單位px (固定值) em(百分比，會疊加父框架的值) rem (百分比，不會疊加父框架的值) 
em 基礎為1em = 16px； rem 基礎為1rem = 16px*/
$Trem: 1rem;

@mixin BPhoto($Position, $Size, $Folder, $IMAGE) {
  // 變數設定 1.對齊$Position 2.尺寸$Size 3.資料夾位置$Folder ；圖片$IMAGE
  // 問題:路徑無法直接讀取變數名稱
  // 解答:scss提供的語法，插值寫法(基於javascript 的 es6語法) ，#{自訂名稱(只能英文數字)}
  // 例如:#{$IMAGE}，寫在路徑上
  // 背景載入
  width: $w10 * 10;
  background-image: url(../../images/#{$Folder}/#{$IMAGE});
  // 不重複
  background-repeat: no-repeat;
  // 背景圖片，置中對齊
  background-position: $Position;
  //  背景圖片 尺忖大小
  background-size: $Size;
}

// 圓角矩形，建議單位px
@mixin Rounded($Num) {
  border-radius: $Num + px;
}
// 手機板專用
@mixin PhoneMnu($Position, $Size, $Folder, $IMAGE) {
  // 變數設定 1.對齊$Position 2.尺寸$Size 3.資料夾位置$Folder ；圖片$IMAGE
  // 問題:路徑無法直接讀取變數名稱
  // 解答:scss提供的語法，插值寫法(基於javascript 的 es6語法) ，#{自訂名稱(只能英文數字)}
  // 例如:#{$IMAGE}，寫在路徑上
  // 背景載入
  background-image: url(../../images/#{$Folder}/#{$IMAGE});
  // 不重複
  background-repeat: no-repeat;
  // 背景圖片，置中對齊
  background-position: $Position;
  //  背景圖片 尺忖大小
  background-size: $Size;
}
