body {
  background-color: #86c04c;
}

header {
  width: 300px;
  height: 250px;
  background-color: cyan;
}

main {
  width: 600px;
  height: 450px;
  background-color: darkgreen;
}

footer {
  width: 400px;
  height: 100px;
  background-color: deeppink;
}
