@charset "UTF-8";
* {
  margin: 0 auto;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

/* 
You may not @extend an outer selector from within @media.
 You may only @extend selectors within the same directive.
 無法在內部選擇器使用外部連結
*/
/* 文字使吋 單位px (固定值) em(百分比，會疊加父框架的值) rem (百分比，不會疊加父框架的值) 
em 基礎為1em = 16px； rem 基礎為1rem = 16px*/
@media screen and (max-width: 576px) {
  header {
    width: 100%;
    background-color: brown;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*
        浮動對齊的問題:
        1.#Logo 與 .SubNav 物件的父框架 nav 無高度
        2.nav 的父框架 header 無高度
        解決辦法
        1.nav 的父框架 header 給予高度;或者是 nav 給予高度
        2.清除浮動狀態，由 nav 設定 
        3.利用圖片的高展開
        */
  }
  header nav #Logo {
    float: left;
  }
  header nav #Logo #Logo {
    width: 75%;
  }
  header nav #Logo #MenuBtn {
    width: 25%;
  }
  header nav .SubNav .Icon {
    display: none;
  }
  header nav #MenuBtn {
    height: 60px;
    float: left;
    text-indent: -9999px;
    background-image: url(../../images/icon/serch.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  header nav #MenuBtn #Logo {
    width: 25%;
  }
  header nav #MenuBtn #MenuBtn {
    width: 75%;
  }
  header nav .BtnBox {
    display: none;
  }
  header nav .Clear {
    clear: both;
  }
  footer address {
    display: none;
  }
  #Main {
    background-color: blanchedalmond;
  }
  #Banner {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  #Banner .Btn {
    width: 15vw;
    height: 95px;
    font-size: 1.2rem;
    position: absolute;
    text-align: center;
    line-height: 95px;
    z-index: 5;
    top: 120px;
    border-radius: 15px;
  }
  #Banner .LeftBox {
    left: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Banner .RightBox {
    right: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Banner #Img {
    width: 100%;
    background-color: #050592;
    padding-bottom: 335px;
  }
  #Banner #Img li {
    width: 100%;
    float: left;
    position: absolute;
    /*移動圖片：因為每部裝置中纖位置不同，所以不易計算
             margin-left:-200px ;
             */
    font-size: 72px;
    text-align: center;
    padding-bottom: 250px;
  }
  #Banner #Img .Item01 {
    width: 100%;
    background-image: url(../../images/Banner/005.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #Banner #Img .Item02 {
    width: 100%;
    background-image: url(../../images/Banner/004.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #Banner #Img .Item03 {
    width: 100%;
    background-image: url(../../images/Banner/003.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #Banner #Img .Item04 {
    width: 100%;
    background-image: url(../../images/Banner/002.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #Banner #Img .Item05 {
    width: 100%;
    background-image: url(../../images/Banner/001.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 576px) {
  header {
    width: 100%;
    background-color: #f08f11;
  }
  header nav .SubNav .Icon {
    display: none;
  }
  footer address {
    display: none;
  }
  #Main {
    background-color: blanchedalmond;
  }
  #Banner {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  #Banner .Btn {
    width: 15vw;
    height: 95px;
    font-size: 1.2rem;
    position: absolute;
    text-align: center;
    line-height: 95px;
    z-index: 5;
    top: 120px;
    border-radius: 15px;
  }
  #Banner .LeftBox {
    left: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Banner .RightBox {
    right: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Banner #Img {
    width: 100%;
    background-color: #050592;
    padding-bottom: 335px;
  }
  #Banner #Img li {
    width: 100%;
    float: left;
    position: absolute;
    /*移動圖片：因為每部裝置中纖位置不同，所以不易計算
             margin-left:-200px ;
             */
    font-size: 72px;
    text-align: center;
    padding-bottom: 250px;
  }
  #Banner #Img .Item01 {
    width: 100%;
    background-image: url(../../images/Banner/005.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #Banner #Img .Item02 {
    width: 100%;
    background-image: url(../../images/Banner/004.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #Banner #Img .Item03 {
    width: 100%;
    background-image: url(../../images/Banner/003.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #Banner #Img .Item04 {
    width: 100%;
    background-image: url(../../images/Banner/002.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #Banner #Img .Item05 {
    width: 100%;
    background-image: url(../../images/Banner/001.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  header {
    width: 100%;
    background-color: goldenrod;
  }
  header nav .SubNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav .SubNav .Icon {
    display: block;
  }
  footer address {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  header {
    width: 100%;
    background-color: royalblue;
  }
  header nav .SubNav .Icon {
    display: block;
  }
  header nav #MenuBtn {
    display: none;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  header {
    width: 100%;
    background-color: #41cee1;
  }
  header nav .SubNav .Icon {
    display: block;
  }
  header nav #MenuBtn {
    display: none;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  header {
    width: 100%;
    background-color: #ec1d73;
  }
  header nav .SubNav .Icon {
    display: block;
  }
  header nav #MenuBtn {
    display: none;
  }
  footer address {
    display: none;
  }
}
