#Main {
    background-color: blanchedalmond;
}
#Banner {
    .Btn {
        width: 15vw;
        height: 6vh * 2;
        font-size: $Trem * 2;
        // 定位點
        position: absolute;
        // 水平置中
        text-align: center;
        // 垂直置中 = 行距
        line-height: 6vh * 2;
        // 移動階層 (圖層)
        z-index: 5;
        top: 20vh-6vh;
    }
    .LeftBox {
        background-color: chocolate;
    }
    .RightBox {
        right: 0;
        background-color: rgb(5, 84, 150);
    }
    width: $w10 * 10;
    // 溢位設定 將超出的可視範圍隱藏
    overflow: hidden;
    // 相對定位
    position: relative;
    #Img {
        width: $w10 * 10;
        background-color: rgb(5, 5, 146);
        // 內間距 設定 下方間距，當成圖片高度，單位為 % or vh
        padding-bottom: 40vh;
        li {
            width: $w10 * 10;
            float: left;
            // 定位點 絕對定位：單獨呼叫時，原點(0,0)會位於畫面(可視範圍)的左上角
            // 物件的副框架呼叫，相對定位(position: relative)時，功能設為「重新定位原點至父框架」
            position: absolute;
            /*移動圖片：因為每部裝置中纖位置不同，所以不易計算
             margin-left:-200px ;
             */
            font-size: 72px;
            text-align: center;
            // 內間距 設定 下方間距，當成圖片高度，單位為 % or vh
            padding-bottom: 26vh;
        }
        .Item01 {
            // 背景載入
            background-image: url(../../images/Banner/005.jpg);
            // 不重複
            background-repeat: no-repeat;
            // 背景圖片，置中對齊
            background-position: center;
            //  背景圖片 尺忖大小
            background-size: cover;
        }
        .Item02{
            @include BPhoto(center, cover, Banner, "004.jpg")
        }
    }
}
