header {
    width: $w10 * 10;
    background-color: royalblue;
    nav {
        .SubNav {
            .Icon {
                @include OB;
            }
        }
        #MenuBtn {
            display: none;
        }
    }
}
footer {
    address {
        // 呼叫
        @include DN;
    }
}
