header {
  width: $w10 * 10;
  background-color: goldenrod;
  #MainNav {
    .SubNav {
      display: flex;
      .Icon {
        // 呼叫混和函式
        @include OB;
      }
    }
  }
}
footer {
  address {
    // 呼叫
    @include OB;
  }
}
